ion-toolbar {
  --background: -webkit-linear-gradient(to right, #8a2387, #e94057, #f27121); /* Chrome 10-25, Safari 5.1-6 */
  --background: linear-gradient(to right, #8a2387, #e94057, #f27121); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --color: white;
  --padding-start: 1em;
  --padding-end: 1em;
}

ion-item-option {
  --background: -webkit-linear-gradient(to right, #e94057, #f27121); /* Chrome 10-25, Safari 5.1-6 */
  --background: linear-gradient(to right, #e94057, #f27121); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --color: white;
}

ion-button {
  --background: -webkit-linear-gradient(to right, #8a2387, #e94057); /* Chrome 10-25, Safari 5.1-6 */
  --background: linear-gradient(to right, #8a2387, #e94057); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --color: white;
}